{% block content %}
    <div id="{{ modal_id }}" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h4>{{ modal_title }}</h4>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group" id="{{ field.id_for_label }}-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          <button name="{{ form_name }}" type="submit">Add New</button>
        </form>
      </div>
    </div>
{% endblock content %}