{% extends 'main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
    <h3>Datastream Setup Page</h3>
    <form method="post">
        {% csrf_token %}
{#        {% for field in datastream_form %}#}
{#            <div>#}
{#                <label>{{ field.label }}</label>#}
{#                {{ field }}#}
{#                <button class="modal-button" data-modal="add_{{ field.id_for_label }}_modal" type="button">Add New</button>#}
{#                {% include 'sites/modal.html' with form=method_form modal_id='add_'|add:field.id_for_label|add:'_modal' modal_title='Add a New'|add:field.label form_name='method_form' %}#}
{#            </div>#}
{#        {% endfor %}#}
        <div>
            <label>Data Collection Method</label> {{ datastream_form.method }}
            <button class="modal-button" data-modal="add_method_modal" type="button">Add New</button>
        </div>
        <div>
            <label>Observed Property</label> {{ datastream_form.observed_property }}
            <button class="modal-button" data-modal="add_observed_property_modal" type="button">Add New</button>
        </div>
        <div>
            <label>Unit</label>{{ datastream_form.unit }}
            <button class="modal-button" data-modal="add_unit_modal" type="button">Add New</button>
            </div>
        <div>
            <label for="id_processing_level">Processing Level</label>{{ datastream_form.processing_level }}
            <button class="modal-button" data-modal="add_processing_level_modal" type="button">Add New</button>
        </div>

        <br><hr><br>

        <div>
            <label>Sampled Medium</label>{{ datastream_form.sampled_medium }}
{#            <button class="modal-button" data-modal="add_sampled_medium_modal" type="button">Add New</button>#}
{#            {% include 'sites/modal.html' with form=sampled_medium_form modal_id='add_sampled_medium_modal' modal_title='Add a New Sampled Medium' form_name='sampled_medium_form' %}#}
        </div>

        <div>
            <label for="id_status">Status</label>
            {{ datastream_form.status }} {{ datastream_form.status_master_list }} {{ datastream_form.status_new }}
{#            <button class="modal-button" data-modal="add_status_modal" type="button">Add New</button>#}
{#            {% include 'sites/modal.html' with form=status_form modal_id='add_status_modal' modal_title='Add a new status' form_name='status_form' %}#}
        </div>
        <div>
            <label for="id_no_data_value">No Data Value</label>{{ datastream_form.no_data_value }}
{#            <button class="modal-button" data-modal="add_no_data_value_modal" type="button">Add New</button>#}
{#            {% include 'sites/modal.html' with form=no_data_value_form modal_id='add_no_data_value_modal' modal_title='Add a new no data value' form_name='no_data_value_form' %}#}
        </div>
        <div>
            <label for="id_aggregation_statistic">Aggregation Statistic</label>
            {{ datastream_form.aggregation_statistic }} {{ datastream_form.agg_master_list }} {{ datastream_form.aggregation_statistic_new }}
{#            <button class="modal-button" data-modal="add_aggregation_statistic_modal" type="button">Add New</button>#}
{#            {% include 'sites/modal.html' with form=aggregation_statistic_form modal_id='add_aggregation_statistic_modal' modal_title='Add a New Aggregation Statistic' form_name='aggregation_statistic_form' %}#}
        </div>

         <br><hr><br>

        <div>
            <label for="id_intended_time_spacing">Intended Time Spacing</label>{{ datastream_form.intended_time_spacing }}
{#            <button class="modal-button" data-modal="add_time_spacing_modal" type="button">Add New</button>#}
{#            {% include 'sites/modal.html' with form=time_spacing_form modal_id='add_time_spacing_modal' modal_title='Add New Intended Time Spacing' form_name='time_spacing_form' %}#}
        </div>
        <div>
            <label for="id_intended_time_spacing_units">Units</label>{{ datastream_form.intended_time_spacing_units }}
        </div>
        <div>
            <label for="id_time_aggregation_interval">Time Aggregation Interval</label>{{ datastream_form.time_aggregation_interval }}
{#            <button class="modal-button" data-modal="add_time_aggregation_modal" type="button">Add New</button>#}
{#            {% include 'sites/modal.html' with form=time_aggregation_interval_form modal_id='add_time_aggregation_modal' modal_title='Add a New Time Aggregation Interval' form_name='time_aggregation_interval_form' %}#}
        </div>
        <div>
            <label for="id_time_aggregation_interval_units">Units</label>{{ datastream_form.time_aggregation_interval_units }}
        </div>
        <button name="datastream_form" type="submit">Save</button>
    </form>

    {% include 'sites/modal.html' with form=method_form modal_id='add_method_modal' modal_title='Add a New Sensor/Data Collection Method' form_name='method_form' %}
    {% include 'sites/modal.html' with form=observed_property_form modal_id='add_observed_property_modal' modal_title='Add a New Observed Property' form_name='observed_property_form' %}
    {% include 'sites/modal.html' with form=unit_form modal_id='add_unit_modal' modal_title='Add a New Unit' form_name='unit_form' %}
    {% include 'sites/modal.html' with form=processing_level_form modal_id='add_processing_level_modal' modal_title='Add a New Processing Level' form_name='processing_level_form' %}


    <script src="{% static 'js/modal.js' %}"></script>
    <script>
        // Only show manufacturer and model if we're dealing with an instrumentDeployment
        let sensorDropdown = document.getElementById("id_method_type");
        let manufacturer = document.getElementById("id_manufacturer-field");
        let model = document.getElementById("id_model-field");
        manufacturer.style.display = "none";
        model.style.display = "none";
        sensorDropdown.onchange = function() {
          if (sensorDropdown.value === "Instrument Deployment") {
            manufacturer.style.display = "block";
            model.style.display = "block";
          } else {
            manufacturer.style.display = "none";
            model.style.display = "none";
          }
        };
    </script>
{% endblock content %}

{#    <button><a href="{% url 'add_sensor_model' thing.pk%}">Add Sensor Model</a></button>#}
{#    <form method="post" action="{% url 'register_datastream' thing.pk %}">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Add New Datastream">#}
{#    </form>#}
{##}
    {# Get this out of here and connect to manage-sensors as well#}
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#    <script>#}
{#    $(document).ready(function(){#}
{#        $('#id_sensor_manufacturer').change(function(){#}
{#            let manufacturer = $(this).val();#}
{#            $.ajax({#}
{#                url: '{% url 'get_sensor_models' %}',#}
{#                data: {'manufacturer': manufacturer},#}
{#                success: function(data){#}
{#                    let options = '';#}
{#                    for (let i = 0; i < data.length; i++) {#}
{#                        options += '<option value="' + data[i] + '">' + data[i] + '</option>';#}
{#                    }#}
{#                    $('#id_sensor_model').html(options);#}
{#                }#}
{#            });#}
{#        });#}
{#    });#}
{#    </script>#}
