{% extends 'main.html' %}

{% block content %}
    <h3>{{ thing.name }}</h3>
    <hr>
    <div style="display: flex;">
        <div style="flex-basis: 40%;">
            {% if is_authenticated %}
                {%if owns_thing %}
                    <div>
                        <button><a href="{% url 'update_site' thing.pk %}">Manage Site</a></button>
                        <button><a href="{% url 'delete-site' thing.pk %}">Delete Site</a></button>
                        <button><a href="{% url 'register_datastream' thing.pk %}">Add New Datastream</a></button>
                        <button><a href="{% url "upload_csv" thing.pk %}">Upload Data</a></button>
                    </div>
                {% else %}
                    <form method="post" action="{% url 'update_follow' thing.id%}">
                        {% csrf_token %}
                        <input type="checkbox" name="follow" id="follow-checkbox"
                             {% if follows_thing %}checked{% endif %} onchange="this.form.submit()">
                        <label>Follow</label>
                    </form>
                {% endif %}
            {% endif %}

            <table>
                {% for row in table_data %}
                    <tr><td>{{ row.label }}</td><td>{{ row.value }}</td></tr>
                {% endfor %}
            </table>

        </div>

        <div style="flex-basis: 60%;">
            <hr>
            {% include 'sites/site-map.html' %}
            <hr>
        </div>
    </div>
    <hr>

    <button><a href="{% url "export_csv" thing.pk %}">Download Site Data</a></button>

    <h4>Datastreams:</h4>
    <div style="display: flex; flex-wrap: wrap;">
        {% for datastream in thing.datastreams.all %}
            <a href="{% url 'datastream' datastream.pk %}">
                <div style="border: 1px solid gray; padding: 10px; margin: 10px; flex-basis: 20%; transition: background-color 0.3s;">
                    <h5>{{ datastream.sensor }}</h5>
                    <p><strong>Observed Property:</strong> {{ datastream.observed_property }}</p>
                    <p><strong>Sampled Medium:</strong> {{ datastream.sampled_medium }}</p>
                    <p><strong>Unit:</strong> {{ datastream.unit }}</p>
                    <p><strong>Processing Level:</strong> {{ datastream.processing_level }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <style>
        a:hover div {
            background-color: #f2f2f2;
        }
    </style>
{% endblock content%}
