{% extends 'main.html' %}

{% block content %}
    <h3>{{ thing.name }}</h3>
    <hr>
    {% if is_authenticated %}
        {%if owns_thing %}
            <div>
                <button><a href="{% url 'update_site' thing.pk %}">Manage Site</a></button>
                <button><a href="{% url 'delete-site' thing.pk %}">Delete Site</a></button>
                <button><a href="{% url 'register_datastream' thing.pk %}">Add New Datastream</a></button>
                <button><a href="{% url "upload_csv" thing.pk %}">Upload Data</a></button>
            </div>
        {% else %}
            <form method="post" action="{% url 'update_follow' thing.id%}">
                {% csrf_token %}
                <input type="checkbox" name="follow" id="follow-checkbox"
                     {% if follows_thing %}checked{% endif %} onchange="this.form.submit()">
                <label>Follow</label>
            </form>
        {% endif %}
    {% endif %}

    <table>
        {% for row in table_data %}
            <tr><td>{{ row.label }}</td><td>{{ row.value }}</td></tr>
        {% endfor %}
    </table>

    <br><hr>

    <button><a href="{% url "export_csv" thing.pk %}">Download Site Data</a></button>

    {% include 'sites/site-map.html' %}

{% endblock content%}