{% extends 'main.html' %}
{% block content %}

    <h3>My Sites</h3>
    <button>Status</button>
    <hr>

    <h3>My Registered Sites</h3>
    <a href="{% url 'register-site' %}"><button>Register a New Site</button></a>


    {% for thing in owned_things %}
        <p><a href ="{% url 'site' thing.id %}">{{ thing.name }}</a></p>
    {% endfor %}

    <h3>Followed Sites</h3>

    {% for thing in followed_things %}
        <p><a href ="{% url 'site' thing.id %}">{{ thing.name }}</a></p>
    {% endfor %}


{% endblock content %}