{% extends 'main.html' %}

{% block content %}
    <h2>Upload Site Data</h2>
    <hr>
    <br>
    {% if has_sensors %}
        <form method="POST" action="{% url 'upload_csv' thing.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="csv_file">Select a CSV file:</label>
            <input type="file" name="csv_file" accept=".csv"><br><br>

            {{ form.as_p }}

            <button type="submit">Upload</button>
        </form>
    {% else %}
        <p>There are no sensors associated with this site. Please go to the <a href='{% url "sensors" thing.pk%}'>Manage Sensors</a> page to add sensors.</p>
    {% endif %}

{% endblock %}
