option_settings:
  - option_name: DATABASE_URL
    value: placeholder
  - option_name: LOCAL_CSV_STORAGE
    value: placeholder
  - option_name: DEBUG
    value: placeholder
  - option_name: ALLOWED_HOSTS
    value: placeholder
  - option_name: CORS_ALLOWED_ORIGINS
    value: placeholder
  - option_name: SECRET_KEY
    value: placeholder