files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      source /var/app/venv/*/bin/activate

      python3 manage.py migrate
      python3 manage.py configure_timescaledb
      python3 manage.py collectstatic

container_commands:
  start_up:
    command: /home/ec2-user/startup.sh
