files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      source /var/app/venv/*/bin/activate

      python3 manage.py migrate
      python3 manage.py configure_timescaledb
      python3 manage.py collectstatic

container_commands:
  start_up:
    command: /home/ec2-user/startup.sh

%
%
% container_commands:
%   01_migrate:
%     command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
%     leader_only: true
%   02_timescale:
%     command: "source /var/app/venv/*/bin/activate && python3 manage.py configure_timescaledb"
%     leader_only: true
%   03_collectstatic:
%     command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic"
%     leader_only: true
% option_settings:
%   aws:elasticbeanstalk:application:environment:
%     DJANGO_SETTINGS_MODULE: hydroserver.settings