{% extends 'main.html' %}

{% block content %}
    <h1>Welcome, {{ user.username }}</h1>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <br>

    {% if organizations %}<p>Organization{{ organizations|length|pluralize:":,s:" }}</p>{% endif %}
    {% for organization in organizations %}
        <p>
            <a href="{% url 'update_organization' organization.pk %}">{{ organization }}</a>
        </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary"><a href="{% url 'create_organization' %}">Create a New Organization</a></button>
    <br><br>

    <button type="submit" class="btn btn-primary"><a href="{% url 'update_account' %}">Update Account</a></button>
    <button type="submit" class="btn btn-danger"><a href="{% url 'remove_account' %}">Remove Account</a></button>
{% endblock %}
